/*********************************
 * This file contains all the styles
 * for the left half of the screen.
 */

#mbl_holder {
	width: 570px;
	margin: auto auto;
	color: white;
}

#map_box {
	height: 500px;
	width: 550px;
	padding: 5px;
}

#leaflet_map {
	height: 100%;
	width: 100%;
	z-index: 1;
}

#street_view iframe {
	height: 500px;
	width: 550px;
	border: none;
}

.tooltip {
	font-size: 10px;
}

#mbl_year {
	float: left;
	position: relative;
	padding: 6px;
	z-index: 2;
	font-style: italic;
	color: white;
	font-size: 24px;
	text-shadow: 4px 4px 1px rgb(42,42,42);
}

#slider_box {
	height: 20px;
	position: relative;
	bottom: 40px;
	margin: 0 auto;
	z-index: 2;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	opacity: .5;
	transition: .3s;
	box-shadow: 0 0 10px rgb(26,26,26);
}

#slider_box:hover {
	opacity: 1.0
}

.arrow {
    height: 0;
    width: 0;
    position: relative;
    bottom: 3px;
    background-color: transparent;
    border: 9px solid rgb(42,42,42);
}

.arrow:active {
    bottom: 2px;
    left: 1px;
}

#left_arrow {
    margin-right: 2px;
    border-right: 10px solid rgb(200,200,200);
    border-left: none;
}

#left_arrow:hover {
    border-right-color: rgb(240,240,240);
}

#left_arrow:active {
    border-right-color: rgb(100,100,100);
}

#right_arrow {
    margin-left: 2px;
    border-left: 10px solid rgb(200,200,200);
    border-right: none;
}

#right_arrow:hover {
    border-left-color: rgb(240,240,240);
}

#right_arrow:active {
    border-left-color: rgb(100,100,100);
}

#year {
	font-size: 22px;
	font-style: italic;
}

#legend {
	height: 119px;
	background-color: transparent;
	background-color: rgba(42,42,42,0.4);
	border: 5px solid rgb(200,191,176);
	box-shadow: 5px 5px 5px rgb(15,15,15);
	-moz-box-shadow: 5px 5px 5px rgb(15,15,15);
	-webkit-box-shadow: 5px 5px 5px rgb(15,15,15);
	border-top: none;
}

.icon_panel {
	width: 20%;
}

.icon_button {
	position: relative;
	background: none;
	border: none;
}

.icon {
	height: 63px;
	position: relative;
	float: left;
}

.icon_text {
	float: left;
	position: relative;
	left: 3px;
	top: 7px;
	font-size: 17px;
	text-shadow: 4px 4px 1px rgb(42,42,42);
}