/*********************************
 * This file contains all the styles
 * for the right half of the screen.
 */

cite {
	font-size: 10pt;
	line-height: 1.3em;
}

#desc_container {
	height: 230px;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
}

#desc_title {
	padding: 2px;
	font-size: 24px;
	font-style: italic;
}

#desc_container hr {
	height: 1px;
	margin-top: 5px;
	border: none;
	background-color: white;
}

#desc_body {
	height: 185px;
	overflow-y: auto;
}

#desc_body span, cite {
	display: block;
}

#desc {
	margin: 10px 0;
	line-height: 1.3em;
}

#cptn {
	margin-top: 10px;
}

#image_container {
	height: 360px;
	padding: 10px;
}

#image_container div {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

#hist_img {
	width: 100%;
}

#street_view_button {
	position: absolute;
	min-height: 25px;
	min-width: 140px;
	margin: -3px;
	box-shadow: 5px 5px 5px rgb(15,15,15);
	-moz-box-shadow: 5px 5px 5px rgb(15,15,15);
	-webkit-box-shadow: 5px 5px 5px rgb(15,15,15);
	font-weight: bold;
	color: rgb(100,79,142);
	z-index: 1;
}

.def_street_view_button {
	border-radius: 0 15px 15px 15px;
	font-size: 16px;
}

.mbl_street_view_button {
	height: 50px;
	width: 160px;
	border-radius: 0 25px 25px 25px;
	font-size: 18px;
}

#street_view_button:hover {
	color: rgb(255, 240, 232);
}

#street_view_button:active {
	box-shadow: none;
	margin: 0;
}