/*********************************
 * This file contains all the styles
 * for the right half of the screen.
 */

cite {
	font-size: 10pt;
	line-height: 1.3em;
}

#desc_container {
	height: 210px;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
}

#desc_title {
	padding-bottom: 2px;
	font-size: 24px;
	font-style: italic;
}

#desc_container hr {
	height: 1px;
	width: 100%;
	margin-top: 5px;
	border: none;
	background-color: white;
}

#desc_body {
	height: 165px;
	overflow-y: auto;
}

#desc_body span, cite {
	display: block;
}

#info {
	white-space: pre-wrap;
}

#desc {
	margin: 10px 0;
	line-height: 1.3em;
}

#src {
	padding: 0 30px;
}

#cptn {
	margin-top: 10px;
}

#image_container {
	padding: 5px;
	z-index: 1;
}

#image_container div {
	height: 370px;
	width: 98%;
	margin: auto auto;
	overflow-y: auto;
}

#hist_img {
	width: 100%;
}

#street_view_button {
	position: absolute;
	height: 25px;
	width: 130px;
	padding: 0 10px;
	border: none;
	border-radius: 0 15px 15px 15px;
	box-shadow: 5px 5px 5px rgb(15,15,15);
	-moz-box-shadow: 5px 5px 5px rgb(15,15,15);
	-webkit-box-shadow: 5px 5px 5px rgb(15,15,15);
	background-color: rgb(200,200,200);
	font-weight: bold;
	font-style: oblique;
	color: rgb(100,79,142);
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	z-index: 2;
}

#street_view_button:hover {
	color: rgb(255, 240, 232);
	background-color: rgb(46,46,46);
}

#street_view_button:active {
	color: rgb(100,79,142);
	background-color: rgb(200,200,200);
}