body {
	background-attachment: fixed;
	font-family: Times, serif;
	overflow: hidden;
}

#intro_screen {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(26,26,26,0.6);
}

#intro_box {
	color: white;
	line-height: 1.5em;
	font-size: 24px;
	width: 500px;
	padding: 10px;
	text-align: center;
	position: relative;
	top: 10%;
	height: 80%;
	margin: auto auto;
}

#to_map {
	height: 50px;
	width: 120px;
	border: none;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 20px;
	color: white;
	background-color: rgb(56,56,56); 
}

.purple_box {
	background-color: rgba(90,79,92,.75);
	width: 1200px;
	margin: auto auto;
}

#all_content {
	width: 98%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 25px;
	margin: 1% 1%;
}

#title_box {
	font-family: Impact, Arial black, sans-serif;
	font-size: 60px;
	text-align: center;
}

.black_box {
	background-color: rgb(42,42,42);
}

.white_box {
	box-shadow: 5px 5px 5px #151515;
	-moz-box-shadow: 5px 5px 5px #151515;
	-webkit-box-shadow: 5px 5px 5px #151515;
	background-color: rgb(200,191,176);
	padding: 5px;
}

#featured_content {
	margin-top: 8px;
	letter-spacing: 1px;
	color: white;
}

.content_pane {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile_holder {
	width: 570px;
	color: white;
}

#map_box {
	width: 550px;
	height: 500px;
	padding: 5px;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#slider_box {
	opacity: .5;
	transition: .3s;
	height: 29px;
	width: 460px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 10px #262626;
	padding-top: 2px;
	z-index: 2;
	position: relative;
	bottom: 52px;
	margin: auto auto;
}

#slider_box:hover {
	opacity: 0.9;
}

#month_select {
	margin-right: 3px;
	margin-left: 3px;
	color: inherit;
	border-radius: 4px;
	border-width: 1px;
	border-color: white;
	font-family: inherit;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 1px;
}

#month_select:hover {
	background-color: #363636;
}

#month_select:focus {
	outline: none;
}

#year {
	font-size: 20px;
	font-style: italic;
}

#legend {
	height: 90px;
	margin-top: 5px;
}

.icon_panel {
	width: 20%;
}

.icon {
	height: 63px;
	position: relative;
	top: 3px;
	float: left;
}

.icon_text {
	position: relative;
	left: 5px;
	top: 7px;
	font-size: 18px;
	float: left;
}

#desc_container {
	height: 205px;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
}

#desc_title {
	font-size: 28px;
	font-style: italic;
}

#desc_container hr {
	width: 99%;
	margin: 5px;
}

#desc_body {
	font-size: 12pt;
	line-height: 1.2em;
	height: 160px;
	overflow-y: auto;
}

#image_content {
	padding: 5px;
	height: 370px;
}

#large_img {
	height: 90%;
	width: 100%;
	overflow: hidden;
}

#hist_img {
	width: 100%;
}

#button_and_address {
	height: 10%;
	padding-top: 6px;
}

#street_view_button {
	font-weight: bold;
	font-style: italic;
	height: 30px;
	opacity: 0.5;
	transition: .3s;
	border: none;
	display: inline;
	background-color: light gray;
}

#street_view_button:hover {
	opacity: 1.0;
}

#address {
	font-size: 22px;
	letter-spacing: 2px;
	float: right;
	font-style: italic;
	margin-right: 10px;
}

#footer_box {
	margin-top: 30px;
	padding-top: 1px;
	height: 100px;
}

#footer_content_upper {
	margin: 10px;
	height: 50%;
	color:white;
	padding-left: 10px;
}

#footer_content_lower {
	margin-left: 10px;
}